.cont {
  background-color: white;
  min-height: 20vh;
  border: 1px solid red;
  border-radius: 15px;
  margin-bottom: 1rem;
  position: absolute;
}

img {
  width: 200px;
  height: 200px;
}

.texts {
  background-color: white;
  min-height: 25vh;
  border: 1px solid red;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.texts h4 {
  padding: 5px;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.texts h3 {
  font-size: 1rem;
  margin-block-end: 0;
  margin-block-start: 0;
}

@media screen and (max-width: 360px) {
  .cont {
    width: 100%;
    height: 10vh;
  }
}

@media screen and (max-width: 360px) {
  .texts h4 {
    font-size: 0.7rem;
    padding: 3px;
  }
  .texts h2 {
    padding: 3px;
    font-size: 1rem;
  }
  .texts h3 {
    font-size: 0.6rem;
  }

  .texts {
    background-color: white;
    min-height: 30vh;
    border: 1px solid red;
    border-radius: 15px;
    margin-bottom: 0.1rem;
  }
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 1110px;
  }
}
