.cont {
  background-color: #ddd;
  min-height: 22vh;
  position: static;
  border: 1px solid crimson;
  border-radius: 15px;

  max-width: 30vh;
  margin: auto;
  margin-bottom: 1rem;
}

img {
  width: 200px;
  height: 200px;
  margin: auto;
}

.texts {
  background-color: #ddd;
  min-height: 30vh;
  border: 1px solid crimson;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.types {
  display: flex;
  flex-direction: row;
}

.texts h2 {
  margin-bottom: 0.2rem;
}

.texts h4 {
  padding: 5px;
  font-weight: 200;
  font-family: "Press Start 2P", cursive;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.texts h3 {
  font-size: 0.8rem;
  margin-block-end: 0;
  margin-block-start: 0;
  width: 30%;
  margin: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 5px;
  color: rgb(255, 255, 255);
}

p {
  font-size: 0.7rem;
}

@media screen and (max-width: 360px) {
  .cont {
    width: 100%;
    height: 10vh;
  }
}

@media screen and (max-width: 360px) {
  .texts h4 {
    font-size: 0.6rem;
    padding: 3px;
  }
  .texts h2 {
    padding: 3px;
    font-size: 1rem;
  }
  .texts h3 {
    font-size: 0.4rem;
  }

  .texts {
    background-color: white;
    min-height: 30vh;
    border: 1px solid crimson;
    border-radius: 15px;
    margin-bottom: 0.1rem;
  }
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 1110px;
  }

  .types {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 411px) {
  .texts h4 {
    font-size: 0.6rem;
    padding: 3px;
  }
  .texts h2 {
    padding: 3px;
    font-size: 1rem;
  }
  .texts h3 {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 414px) {
  .texts h4 {
    font-size: 0.6rem;
    padding: 3px;
  }
  .texts h2 {
    padding: 3px;
    font-size: 1rem;
  }
  .texts h3 {
    font-size: 0.4rem;
  }
}
